<div class="comments animation_comment">   
    <span><a href="/users/show/<%= comment.sender_id %>"><%= comment.sender_name %></a></span><span class="time"><%= comment.created_at %></span>
    <p><%= comment.comment %></p>
</div> 