*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 10px;
    border-bottom: 2px solid black;
}
nav > ul {
    display: inline-block;
    width: 90%;
}
nav > ul li {
     list-style: none;
     display: inline-block;
     padding: 5px;
     text-decoration: none;
}
nav > ul li a{
    text-decoration: none;
    color: black;
}
nav > a {
    display: inline-block;
    color: black;
    width: 9%;
    text-align: right;
}
.active{
    font-weight: 900;
}
body > h2 {
    padding: 10px;
    display: inline-block;
    width: 85%;
}
body > a{
    display: inline-block;
    text-align: right;
    background-color: #3755db; 
    border: none;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
}
form{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-left: 200px;
    border: 1px solid black;
    width: 300px;
}
form > p{
    transform: translateY(-130%);
    background-color: white;
    display: inline-block;
    padding: 5px;
}
form ul li{
    text-align: left;
    list-style: none;
    padding: 10px;
}
form input{
    display: block;
}
form input[type='submit']{
    display: inline-block;
    text-align: right;
    background-color: #4adb37;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}